/* Style sheet table of contents
RGBA color variables
Margin & padding reset
Body element general styling
Header & footer general styling */

:root {
  /* RGBA color variables */
  --primary-bg-color: rgb(236, 227, 197);
  --secondary-bg-color: rgba(230, 230, 225, 1);
  --primary-text-color: rgb(43, 43, 43);
  --accent-button-color: rgba(144, 176, 126, 1);
  --secondary-text-color: rgba(200, 200, 200, 1);
  --highlight-color: rgba(173, 195, 211, 1);
  --important-color: rgb(245, 140, 140);
}

/* Margin & padding reset */
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

/* Body element general styling */
body {
  overflow: hidden;

  max-width: 100vw;
  min-height: 100vh;
  
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  overflow-y: scroll;
}

/* Hide scroll bar */
body::-webkit-scrollbar {
  display: none;
}

/* Header and footer general styling */
header,
footer {
  width: 100%;
  background-color: var(--secondary-bg-color);

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Header specific styling */
header {
  position: relative;
  z-index: 1000;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 7px 0 7px 40px;

  font-family: "Playfair Display SC", serif;
}

#website-name {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.4px;
  margin-left: 10px;
}

/* Book header logo styling */
header > svg > path {
  fill: var(--primary-text-color);
}

#add-book-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  z-index: 1;
  right: 30px;

  width: 40px;
  height: 40px;

  background-color: transparent;

  border-radius: 50%;
  border: 0.9px solid var(--primary-text-color);

  transition: border 0.3s ease-in-out;

  cursor: pointer;
}

.plus {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  transition: transform 0.3s ease-in-out;
}

.horizontal-line {
  width: 70%;
  height: 0.9px;

  background-color: var(--primary-text-color);

  transition: height 0.3s ease-in-out;
}

.vertical-line {
  position: absolute;

  width: 0.9px;
  height: 70%;

  background-color: var(--primary-text-color);

  transition: width 0.3s ease-in-out;
}

/* Footer specific styling */
footer {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px 0 15px 0;

  font-family: "Raleway", sans-serif;
  font-size: 1.15rem;
}

a:visited,
a {
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s, padding 0.2s;
  padding: 0 10px 0 10px;
}

.vertical-rule {
  width: 0.7px;
  height: 80%;

  background-color: var(--primary-text-color);
}

footer > a:hover {
  transform: scale(0.9);
  padding: 0 5px 0 5px;
  transition: transform 0.2s, padding 0.2s;
}

/* BOOK FORM STYLING */
.form-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: absolute;
  right: -33.3%;

  height: 100%;
  width: 33.3%;

  transition: right 0.5s ease-out;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  padding: 40px 20px 40px 20px;
  border-radius: 15px;

  background-color: rgba(144, 176, 126, 0.7);

  position: relative;
  z-index: 1000;
  top: -310px;
  right: 20px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.form-group:nth-last-of-type(1) {
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

label {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 3px;
  color: white;
}

input,
input::placeholder {
  font-family: "Raleway";
}

input[type="text"],
input[type="number"] {
  width: 300px;
  padding: 5px;

  border: none;
  border-radius: 5px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
}

input[type="submit"] {
  background-color: var(--highlight-color);

  border: none;
  border-radius: 5px;
  padding: 10px 20px;

  font-family: "Raleway";
  font-size: 1.2rem;
  font-weight: 800;
  color: white;

  cursor: pointer;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  transition: 0.2s;
}

input[type="submit"]:active {
  transform: scale(0.9);
  box-shadow: none;
}

/* TOGGLE BUTTON STYLING */
input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 15px;

  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);

  background-color: var(--secondary-bg-color);

  height: 18px;
  width: 36px;

  transition: 0.5s;

  cursor: pointer;
}

input:checked[type="checkbox"] {
  background-color: var(--highlight-color);
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;

  background-color: white;

  width: 18px;
  height: 18px;

  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  transition: 0.5s;
}

input:checked[type="checkbox"]:before {
  left: 18px;
}

/* Instructions box styling */
#instructions-container {
  padding: 10px;
  width: 300px;

  text-align: center;

  position: absolute;
  top: 5%;
  right: 25.5px;

  font-family: "Raleway";

  transition: 0.3s;
}

#instructions-container svg {
  position: absolute;
  height: 20px;

  right: -123%;
  top: -0.3px;

  transform: rotate(180deg);
}

/* BOOK GRID STYLING */
.book-grid {
  position: relative;
  box-sizing: border-box;
  padding: 3rem;

  flex: 1;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem;
  z-index: 1;
}

.book-grid__book {
  display: flex;
  flex-direction: column;
  gap: 20px;

  box-sizing: border-box;
  padding: 20px;

  animation: book-fade-out 0.5s ease-out reverse forwards;

  width: 100%;
  height: 100%;

  font-family: "Raleway";
  background-color: var(--secondary-bg-color);

  border-radius: 20px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* BOOK INFO STYLING */
.book-grid__info {
  display: flex;
  flex-direction: column;
}

.book-grid__title {
  font-weight: 800;
  font-size: 2rem;
}

.book-grid__author {
  font-weight: 600;
}

.book-grid__pages {
  font-size: 0.8rem;
  align-self: flex-end;
}

/* Book actions styling */
.book-grid__actions {
  display: flex;
  gap: 10px;
}

.book-grid__button {
  box-sizing: border-box;
  width: 92px;
  border: none;
  border-radius: 5px;

  padding: 15px 15px;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);

  font-family: "Raleway";

  transition: 0.2s;

  cursor: pointer;

  color: white;
  font-weight: 600;
}

.book-grid__button:active {
  scale: 0.9;
}

/* Status button styling */
.book-grid__button--status {
  background-color: var(--highlight-color);
}

.book-grid__button--status:active {
  background-color: white;
  color: var(--highlight-color);
}

/* Delete book button styling */
.book-grid__button--delete {
  background-color: var(--important-color);
}

@keyframes book-fade-out {
  0% {
    transform: scale(1);
    opacity: 1;
    -webkit-filter: blur(0);
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
    -webkit-filter: blur(10px);
  }
}
